################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.obj
*.log
*.idb
*.pdb
*.lastbuildstate
*.tlog
*.user
*.db
*.opendb